@import "tailwindcss";

@theme {
  --color-light-1: #aca69d;
  --color-light-2: #726d64;
  --color-light-3: #90897e;
  --color-red-1: #6C3333;
  --color-dark-1: #303030;
  --color-dark-2: #312D2D;
  --color-dark-3: #121212;

  --animate-fade-in-scale: fade-in-scale infinite 5s ease-in-out;
  --animate-fade-in-scale-2: fade-in-scale-2 infinite 8s ease-in-out;
  --animate-fade-in-scale-3: fade-in-scale-3 infinite 11s ease-in-out;


  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      r: 22;
    }
    30% {
      opacity: 0.3;
      r: 42;
    }
    100% {
      opacity: 0;
      r: 200;
    }
  }

  @keyframes fade-in-scale-2 {
    0% {
      opacity: 0;
      r: 22;
    }
    50% {
      opacity: 0.3;
      r: 42;
    }
    100% {
      opacity: 0;
      r: 300;
    }
  }

  @keyframes fade-in-scale-3 {
    0% {
      opacity: 0;
      r: 22;
    }
    70% {
      opacity: 0.3;
      r: 42;
    }
    100% {
      opacity: 0;
      r: 400;
    }
  }
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Gilroy, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 32px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --padding-global: 90px;
  --light-1: #aca69d;
  --light-2: #90897e;

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: #64605a; 
  border-radius: 4px; 
}


}


html,
body {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
/* 
@media (prefers-color-scheme: light) { */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

svg {
  overflow: visible;
}
